
#flow of parameters
#config.yaml->Constant->configuration

training_pipeline_config :
  pipeline_name : housing 
  artifact_dir : artifact

data_ingestion_config :
  data_ingestion_dir : 'data_ingestion'
  dataset_download_url: https://raw.githubusercontent.com/ageron/handson-ml/master/datasets/housing/housing.tgz
  tgz_download_dir : tgz_data
  raw_data_dir : raw_data
  ingested_dir : ingested_data 
  ingested_train_dir : train 
  ingested_test_dir : test

data_validation_config :
  data_validation_dir : 'data_validation'
  schema_dir: config
  schema_file_name : schema.yaml 
  report_file_name : report.json
  report_page_file_name : report.html 

data_transformation_config : 
  add_bedroom_per_room : True
  transformed_dir : transformed_data_dir 
  transformed_train_dir : train
  transformed_test_dir : test
  preprocessing_dir : preprocessed
  preprocessed_object_file_name : preprocessed.pkl

model_training_config :
  trained_model_file_name : trained_model
  model_file_name : model.pkl
  base_accuracy : 0.6

model_evaluation_config :
  model_evaluation_file_name : model_evaluation.yaml

model_pusher_config :
  export_dir_path : saved_models