

training_pipeline_config :
  pipeline_name : housing 
  artifact-dir : artifact

data_ingestion_config :
  dataset_download_url: https://raw.githubusercontent.com/ageron/handson-ml/master/datasets/housing/housing.tgz
  tgz_download_dir : tgz_data
  raw_data_dir : raw_data
  ingested_dir : ingested_data 
  ingested_train_dir : train 
  ingested_test_dir : test

data_validation_config :
  schema_file_path : schema.yaml

data_transformation_config : 
  add_bedroom_per_room : True
  transfoemed_dir : transformed_data 
  transformed_train_dir : train
  transformed_test_dir : test
  preprocessed_object_file_path : preprocessed.pkl

model_training_config :
  trained_model_file_path : trained_model
  model_file_name : model.pkl
  base_accuracy : 0.6

model_evaluation_config :
  model_evaluation_file_path : model_evaluation.yaml

model_pusher_config :
  export_dir_path : saved_models